<a href="https://colab.research.google.com/github/bhumithakur/MS-Engage-22/blob/main/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json
import pandas as pd 
#as we uses pandas as third party lib

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd '/content/drive/MyDrive/Student.gs'

/content/drive/MyDrive/Student.gs

In [ ]:
!unzip 'student.zip'

Archive:  student.zip
replace student-mat.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: student-mat.csv
replace student-por.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: student-por.csv
replace student-merge.R? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: student-merge.R
replace student.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: student.txt

In [ ]:
ls

movies_metadata.csv  student-merge.R   student.txt*
student-mat.csv*     student-por.csv*  student.zip

In [ ]:
data = pd.read_csv(r'movies_metadata.csv')


#checkout the data
---

In [ ]:
data.head

<bound method NDFrame.head of       color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
4       NaN        Doug Walker                     NaN       NaN
...     ...                ...                     ...       ...
5038  Color        Scott Smith                     1.0      87.0
5039  Color                NaN                    43.0      43.0
5040  Color   Benjamin Roberds                    13.0      76.0
5041  Color        Daniel Hsia                    14.0     100.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
1                       563.0                  1000.0     Orlando Bloom
2                         0.0                   161.0      Rory Kinnear
3                     22000.0                 23000.0    Christian Bale
4                       131.0                     NaN        Rob Walker
...                       ...                     ...               ...
5038                      2.0                   318.0     Daphne Zuniga
5039                      NaN                   319.0     Valorie Curry
5040                      0.0                     0.0     Maxwell Moody
5041                      0.0                   489.0     Daniel Henney
5042                     16.0                    16.0  Brian Herzlinger

      actor_1_facebook_likes        gross                           genres  \
0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309404152.0         Action|Adventure|Fantasy
2                    11000.0  200074175.0        Action|Adventure|Thriller
3                    27000.0  448130642.0                  Action|Thriller
4                      131.0          NaN                      Documentary
...                      ...          ...                              ...
5038                   637.0          NaN                     Comedy|Drama
5039                   841.0          NaN     Crime|Drama|Mystery|Thriller
5040                     0.0          NaN            Drama|Horror|Thriller
5041                   946.0      10443.0             Comedy|Drama|Romance
5042                    86.0      85222.0                      Documentary

      ... num_user_for_reviews language  country  content_rating       budget  \
0     ...               3054.0  English      USA           PG-13  237000000.0
1     ...               1238.0  English      USA           PG-13  300000000.0
2     ...                994.0  English       UK           PG-13  245000000.0
3     ...               2701.0  English      USA           PG-13  250000000.0
4     ...                  NaN      NaN      NaN             NaN          NaN
...   ...                  ...      ...      ...             ...          ...
5038  ...                  6.0  English   Canada             NaN          NaN
5039  ...                359.0  English      USA           TV-14          NaN
5040  ...                  3.0  English      USA             NaN       1400.0
5041  ...                  9.0  English      USA           PG-13          NaN
5042  ...                 84.0  English      USA              PG       1100.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0         2009.0                  936.0        7.9          1.78
1         2007.0                 5000.0        7.1          2.35
2         2015.0                  393.0        6.8          2.35
3         2012.0                23000.0        8.5          2.35
4            NaN                   12.0        7.1           NaN
...          ...                    ...        ...           ...
5038      2013.0                  470.0        7.7           NaN
5039         NaN                  593.0        7.5         16.00
5040      2013.0                    0.0        6.3           NaN
5041      2012.0                  719.0        6.3          2.35
5042      2004.0                   23.0        6.6          1.85

     movie_facebook_likes
0                   33000
1                       0
2                   85000
3                  164000
4                       0
...                   ...
5038                   84
5039                32000
5040                   16
5041                  660
5042                  456

[5043 rows x 28 columns]>

In [ ]:
data.shape

(5043, 28)

In [ ]:
data_frame = data[['genres', 'movie_title','imdb_score','movie_imdb_link']].copy()

In [ ]:
data_frame

,genres,movie_title,imdb_score,movie_imdb_link
0,Action|Adventure|Fantasy|Sci-Fi,Avatar,7.9,http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End,7.1,http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2,Action|Adventure|Thriller,Spectre,6.8,http://www.imdb.com/title/tt2379713/?ref_=fn_t...
3,Action|Thriller,The Dark Knight Rises,8.5,http://www.imdb.com/title/tt1345836/?ref_=fn_t...
4,Documentary,Star Wars: Episode VII - The Force Awakens ...,7.1,http://www.imdb.com/title/tt5289954/?ref_=fn_t...
...,...,...,...,...
5038,Comedy|Drama,Signed Sealed Delivered,7.7,http://www.imdb.com/title/tt3000844/?ref_=fn_t...
5039,Crime|Drama|Mystery|Thriller,The Following,7.5,http://www.imdb.com/title/tt2071645/?ref_=fn_t...
5040,Drama|Horror|Thriller,A Plague So Pleasant,6.3,http://www.imdb.com/title/tt2107644/?ref_=fn_t...
5041,Comedy|Drama|Romance,Shanghai Calling,6.3,http://www.imdb.com/title/tt2070597/?ref_=fn_t...
5042,Documentary,My Date with Drew,6.6,http://www.imdb.com/title/tt0378407/?ref_=fn_t...

In [ ]:
genre_all_movies = [data_frame.loc[i]['genres'].split('|') for i in data_frame.index]

In [ ]:
genres = sorted(list(set([item for sublist in genre_all_movies for item in sublist])))

//initilise the list

In [ ]:
full_movie_data = list()
full_movie_title = list()

In [ ]:
for i in data_frame.index :
 full_movie_title.append((data_frame.loc[i]['movie_title'].strip(),i,data_frame.loc[i]['movie_imdb_link'].strip()));
 movie_data = [1 if genre in data_frame.loc[i]['genres'].split('|') else 0 for genre in genres]
 movie_data.append(data_frame.loc[i]['imdb_score'])
full_movie_data.append(movie_data)

In [ ]:
data_dump = r'data.json'
title_dump = r'title.json'
with open (data_dump,'wt',encoding = 'utf-8') as f:
    json.dump(full_movie_data,f)
with open (title_dump,'wt',encoding = 'utf-8') as f:
    json.dump(full_movie_title,f)

# New Section